NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51KiI96HGeNhMBTcdpikQzF9R9tnBkZAKKmRCltBYF9tmPVvKL9VFFHNlO3Nl4JqqgvuMqD0gMWB5NAeOLNStOURd00G4Wjytn1
NEXT_PUBLIC_STRIPE_SECRET_KEY=sk_test_51KiI96HGeNhMBTcdysKyuOdy6DOexrRWjJ1DNqpITwxeAtqdLgljJMubnR7VSlOxPGPG5XVCVODgzzNV33OMK63V00S392CQLP